<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/model")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/927508e7c7.js" crossorigin="anonymous"></script>
</head>
<body>
    <main role="main" class="container-fluid">
        <div class="row mx-md-0 mb-2">
            <div class="col-md-3 sidebar-left ps-md-0">
                @Html.Partial("SidebarLeft")
            </div>
            <div class="col-md-9 sidebar-right pe-md-0">
                @RenderBody()
              
            </div>
        </div>
        <div class="ft-signup p-3 row align-items-center">
            <div class="col-md-10">
                <b>Xem trước Spotify</b>
                <p>Đăng ký để nghe không giới hạn các bài hát và podcast với quảng cáo không thường xuyên. Không cần thẻ tín dụng.</p>
            </div>
            <div class="col-md-2 justify-content-end">
                <button class="btn text-dark bg-white py-3 px-4">Đăng ký miễn phí</button>
            </div>
            
        </div>
    </main>
</body>

</html>
